# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# local contracts
packages/nextjs/contracts/deployedContracts.ts

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
